@import "public";

#nav{
    height: 32px;
    border-bottom: 1px solid #d4d4d4;
    #navSon{
        margin: 0 auto;
        width: 1200px;
        p{
            color: #868686;
            font-size: 12px;
            line-height: 32px;
            display: inline;
        }
        #list{
            display: block;
            float: right;
            width: 423px;
            height: 28px;
            li{
                display: inline-block;
                line-height: 28px;
                padding: 0 8px 0 8px;
                position: relative;
                #listSon{
                    display:none;
                    width: 88px;
                    position: absolute;
                    left:-1px;
                    top:29px;
                    padding:5px 10px 10px; 
                    border: 1px solid #B5B5B5;
                    background-color: #ffffff;
                    z-index: 5;
                    -moz-box-shadow: 0 0 5px #ccc;
                    box-shadow: 0 0 5px #ccc;
                    li{
                        height: 22px;
                        display: block;
                        a{
                        line-height: 12px;
                        height: 12px;
                        color: #000;
                        }
                        
                    }
                }
                
                
                #myBanggo{
                    display: none;
                    position: absolute;
                    left:-2px;
                    top:29px;
                    padding:0 5px 10px 5px; 
                    
                    background-color: rgba($color: #ffffff, $alpha: 0.7);
                    border: 1px solid #B5B5B5;
                    border-top: none;
                    z-index: 5;
                    -moz-box-shadow: 0 0 5px #ccc;
                    box-shadow: 0 0 5px #ccc;
                    li{
                        height: 22px;
                        display: block;
                        a{
                        line-height: 12px;
                        height: 12px;
                        color: #000;
                        }
                        
                    }
                }
                
                a{
                    color: #868686;
                    font-size: 12px;
                    height:28px; 
                    display: inline-block; 
                    #icon1{
                        display: inline-block;
                        height:10px;
                        width:10px;
                        background: url('../img/indeximg/img90.png') no-repeat 3px -45px;
                    }
                    #icon2{
                        @extend #icon1;

                    }
                    img{
                        position: relative;
                        top: 3px;
                        left: -5px;
                    }
                }
            }
            
            #login{
                border-left: 1px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                float: left;
                display: block;
                position: relative;
                
                z-index: 10;
                cursor: pointer;
                a{
                    background: url(../img/indeximg/img90.png) 64px -35px no-repeat #fff;;
                }

            }
            #login:hover #listSon{
                display: block;
            }
            #banggo:hover #myBanggo{
                display: block;
            }
            #down:hover #download{
                display: block;
            }
            
            #down{
                border-left: 1px solid white;
                border-right: 1px solid white;
                #download{
                    display: none;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    left:0 ;
                    top:28px;
                    padding: 5px 10px 10px;
                    border: 1px solid #B5B5B5;
                    background-color: #fff;
                    box-shadow: 0 0 5px #ccc;
                }
            }
        }
    }
}
// logo
.logo{
    margin: 0 auto;
    width: 1200px;
    
    
}
// 进度
.buy_speed{
    border-bottom: 1px solid  #d4d4d4;
    width: 100%;
    .speed{
        margin: 0 auto;
        width: 1200px;
        overflow: hidden;
        
        span{
            display: block;
            width: 398px;
            height: 30px;
            float: right;
            background: url(../img/indeximg/img90.png) no-repeat 0 -1576px ;
        }
    }
}
// 购物袋
.cart_tab{
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    margin-top: 15px;
    .cart_tab_title{
        float: left;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
        font-weight: 700;
        color: #000;
    }
}
.mbshop_cart_1127_warp_box {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    .mbshopAll{
        width: 1200px;
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 1200px;
        box-sizing: border-box;
        margin-top: 20px;
        float: left;
        .mbshop_checkbox{
            position: relative;
            cursor: pointer;
            display: inline-block;
            width: auto;
            height: 100%;
            margin-left: 10px;
            input{
                display: inline-block;
                position: absolute;
                left: -9999px;
                
            }
            b{
                margin-left: 12px;
                font-weight: 400;
            }
            
        }
        .banggo_cart_tab{
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: #fdf6ee;
            font-size: 12px;
            font-family: "微软雅黑";
            float: none;
            border-bottom: 1px solid #eaeaea;
            
            em{
                float: right;
                margin-right: 40px;
                font-weight: 500;
            }
        }
        .mbshop_cart_1127_single_warp_box{
            border-bottom: none;
            float: left;
            width: 100%;
            .mbshop_cart_1127_single_goods {
                width: 100%;
                height: 120px;
                padding: 20px 0;
                border-top: 1px solid #eaeaea;
                box-sizing: border-box;
                &:first-child{
                    border-top:none;
                }
                p{
                    font-weight: 400;
                }
                li{
                    float: left;
                    height: 100%;
                    line-height: 22px;
                    text-align: center;
                }
                .mbshop_cart_1127_single_01{
                    width: 38px;
                }
                .mbshop_cart_1127_single_02 {
                    width: 296px;
                    dl{
                        width: 500px;
                        height: auto;
                        overflow: hidden;
                        float: left;
                        dt{
                            float: left;
                            width: 78px;
                            height: 78px;
                            border: 1px solid #eaeaea;
                            a{
                                color: #000;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        dd{
                            width: 206px;
                            height: auto;
                            float: left;
                            padding-left: 10px;
                            box-sizing: border-box;
                            font-size: 12px;
                            a{
                                color: #000;
                                p{
                                    width: 148px;
                                    text-align: left;
                                    overflow: hidden;
                                    line-height: 20px;
                                    font-weight: 400;
                                }
                            }
                            i{
                                width: 100%;
                                display: block;
                                text-align: left;
                                font-style: normal;
                                color: #999;
                            }
                        }
                    }
                }
                .mbshop_cart_1127_single_03 {
                    width: 190px;
                    box-sizing: border-box;
                    p{
                        font-weight: 400;
                    }
                }
                .mbshop_cart_1127_single_04 {
                    width: 160px;
                    padding-right: 20px;
                    i{
                        text-decoration: line-through;
                        display: block;
                        font-style: normal;
                        color: #ccc;
                    }
                    em{
                        display: block;
                        font-weight: 700;
                    }
                }
                .mbshop_cart_1127_single_05 {
                    margin-left: 10px;
                    width: 86px;
                    padding: 0 47px;
                    .mbshop_cart_1127_single_label_left{
                        float: left;
                        width: 16px;
                        height: 23px;
                        line-height: 21px;
                        font-size: 14px;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-right: 0;
                        background: #f0f0f0;
                    }
                    .mbshop_cart_1127_single_goods_num {
                        width: 40px;
                        height: 19px;
                        text-align: center;
                        float: left;
                        border: 1px solid #aaa;
                        outline:0;
                        padding: 2px 5px;
                    }
                    .mbshop_cart_1127_single_label_right {
                        float: left;
                        width: 16px;
                        height: 23px;
                        line-height: 21px;
                        font-size: 14px;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-left: 0;
                        background: #f0f0f0;
                    }
                }
                .mbshop_cart_1127_single_07 {
                    font-weight: 700;
                    color: #f8635b;
                    width: 180px;
                }
                .mbshop_cart_1127_single_09 {
                    padding-right: 22px;
                    box-sizing: border-box;
                    width: 98px;
                    a{
                        display: block;
                        color: #000;
                        text-align: right;
                    }
                }
            }
        }
    }
    .go_to_balance_warp{
        margin-top: 30px;
        clear: both;
        float: left;
        p{
            font-weight: 400;
        }
        .mbshop_checkbox{
            position: relative;
            cursor: pointer;
            display: inline-block;
            width: auto;
            height: 100%;
            margin-left: 10px;
            float: left;
            input{
                display: inline-block;
                position: absolute;
                left: -9999px;
                
            }
            b{
                margin-left: 12px;
                font-weight: 400;
            }
            
        }
        .go_to_balance{
            width: 1200px;
            height: 60px;
            z-index: 99;
            background: #f7f7f7;
            .go_to_balance_left {
                width: 1048px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 14px;
                float: left;
                .go_to_balance_left_del {
                    float: left;
                    margin-left: 10px;
                    cursor: pointer;
                }
                .go_to_balance_left_clean{
                    float: left;
                    margin-left: 20px;
                    cursor: pointer;
                }
                .go_to_balance_left_total{
                    float: right;
                    margin-right: 20px;
                    line-height: 56px;
                    i{
                        font-style: normal;
                        font-size: 20px;
                        color: #f8584f;
                    }
                }
                .go_to_balance_left_alg{
                    margin-right: 20px;
                    float: right;
                    em{
                        font-style: normal;
                        font-weight: 500;
                    }
                }
                .go_to_balance_left_have{
                    float: right;
                    margin-right: 20px;
                    em{
                        color: #f8584f;
                        font-size: 18px;
                        margin: 0 5px;
                        font-weight: 500;
                    }
                }
                
            }
            .go_to_balance_right {
                float: right;
                width: 12%;
                height: 60px;
                text-align: center;
                line-height: 60px;
                font-size: 26px;
                color: #fff;
                background: #ccc;
                font-family: "微软雅黑";
                background: red;
            }
        }
    }
}

// 列标
#mbshop_cart_1127_tab{
    width: 1200px;
    height: auto;
    overflow: hidden;
    background: #f8f7f7;
    margin: 20px auto 0;
    li {
        float: left;
        line-height: 40px;
        text-align: left;
        .mbshop_checkbox{
            margin-left: 10px;
            position: relative;
            cursor: pointer;
            display: inline-block;
            padding-left: 18px;
            width: auto;
            height: 100%;
            input{
                display: inline-block;
                position: absolute;
                left: -9999px
            }
            i{
                position: absolute;
                top: 11px;
                left: 0;

            }
            b{
                margin-left: 12px;
                font-weight: 400;
            }
        }
    }
    .mbshop_cart_1127_01 {
        width: 126px;
    }
    .mbshop_cart_1127_02 {
        width: 250px;
    }
    .mbshop_cart_1127_03 {
        width: 208px;
    }
    .mbshop_cart_1127_04 {
        width:  210px;
    }
    .mbshop_cart_1127_05 {
        width: 177px;
    }
    .mbshop_cart_1127_06 {
        width: 155px;
    }
    .mbshop_cart_1127_07 {
        width: 74px;
    }

}
.iconfont {
    font-family: bgweb-iconfont;
    font-size: 18px;
    font-style: normal;
    color: #ccc;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
}
.mbshop_container{
    margin: 0 auto;
    width: 1200px;
    .mbshop_cartico{
        float: left;
        display: block;
        margin: 115px 30px 0 400px;
        width: 79px;
        height: 79px;
        background: url(../img/indeximg/img90.png) no-repeat 0 -469px;
    }
    .mbshop_cartnone {
        text-align: left;
        float: left;
        display: block;
        padding: 100px 0;
        line-height: 180%!important;
        font: 400 14px "微软雅黑","宋体",verdana;
        overflow: hidden;
        b {
            font: 700 16px "微软雅黑","宋体",verdana;
            line-height: 300%;
        }
        a{
            font: 400 14px "微软雅黑","宋体",verdana;
            color: #D61C19;
            text-decoration: underline;
        }
    }
}
.mbshop_cartTabCon{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .mbshop_cartTabList{
        width: 1200px;
        height: 40px;
        margin-top: 20px;
        border-bottom: 2px #ccc solid;
        position: relative;
        ul{
            position: absolute;
            z-index: 110;
            bottom: -2px;
            li{
                float: left;
                display: block;
                width: auto;
                height: auto;
                padding: 10px 30px;
                border-bottom: 2px #ccc solid;
                cursor: pointer;
                font-weight: 700;
                color: #ccc;
            }
            li:hover{
                color: #333;
                border-bottom: 2px #666 solid!important;
            }
        }
    }
    .mbshop_cartTabBox{
        overflow: hidden;
        padding-top: 15px;
        .mbshop_cartTabBoxCon {
            width: 1200px;
            overflow: hidden;
            float: left;
            margin: 0;
            .mbshop_cartRecArea{
                position: relative;
                float: left;
                width: 1200px;
                overflow: hidden;
                .mbshop_cartRecAreaList{
                    width: 1200px;
                    height: 290px;
                    position: relative;
                    float: left;
                    display: block;
                    overflow: hidden;
                    .mbshop_cartRecAreaCon{
                        ul{
                            li{
                                width: 228px;
                                height: 290px;
                                float: left;
                                display: block;
                                margin-right: 15px;
                                a{
                                    float: left;
                                    display: block;
                                    width: 228px;
                                    height: 228px;
                                }
                                .mbshop_cartListPdText {
                                    float: left;
                                    display: block;
                                    width: 228px;
                                    height: auto;
                                    padding-top: 5px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    font-weight: 700;
                                    b{
                                        font: 700 12px "微软雅黑","宋体",verdana;
                                    }
                                    i{
                                        margin-left: 10px;
                                        text-decoration: line-through;
                                        font: 400 12px "微软雅黑","宋体",verdana;
                                    }
                                    .veo_to_shop {
                                        float: right;
                                        padding: 3px 7px;
                                        border-radius: 4px;
                                        border: 1px solid #999;
                                        color: #000;
                                        height: auto;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .mbshop_cartRecBtn_fl{
                    background: url(../img/cartimg/btn_scroll.png) no-repeat left;
                    width: 90px;
                    height: 228px;
                    display: block;
                    cursor: pointer;
                    position: absolute;
                    z-index: 12;
                }
                .mbshop_cartRecBtn_fr{
                    background: url(../img/cartimg/btn_scroll.png) no-repeat -90px 0!important;
                    width:90px;
                    height: 228px;
                    display: block;
                    cursor: pointer;
                    position: absolute;
                    z-index: 12;
                    left: 1110px;
                    
                }
            }
        }
        
    }
}
#infor{
    clear: both;
    margin: 50px auto;
    width: 1199px;
    height: 238px;
    border: 1px solid #d4d4d4;
    img{
        float: left;
        border-right: 1px solid #d4d4d4;
    }
    img:hover{
        transition: 0.5s;
        opacity:0.6;
    }
    #infor_tel{
        div{
            li{
                display:block;
                float: left;
                width: 120px;
                height: 88px;
                text-align: center;
                background: #f9f9f9; 
                img{
                    clear: both;
                    margin: 14px 39px  8px 40px;
                    border: none;
                }
                span{
                    font-weight: 700;
                    color: #999;
                    line-height: 16px;
                    font-style: normal;
                }
            }
        }
        
    }
}
#end{
    width: 100%;
    border-top: 1px solid #d4d4d4;
    height: 50px;
    background: #f5f5f5;
    margin-bottom: 160px;
    #end_main{
        width: 1200px;
        margin: 0 auto;
        padding-top: 15px;
        overflow: hidden;
        float: none;
        dl{
            float: left;
            width: 200px;
            display: inline-block;
            dt{
                float: left;
                margin-bottom: 5px;
                padding-bottom:10px; 
            }
            dd{
                clear: both;
                width: 200px;
                padding-top: 13px;
               
                a{
                    font: 12px "微软雅黑","黑体","微软雅黑","宋体",verdana;
                    color: #231815;
                }
            } 
        }
    }
    
}
#foot{
    clear: both;
   margin: 0 auto;
   width: 1200px;
   border-top:1px solid #868686;
   padding-top: 14px;
    p{
    margin: 0 auto;;
    text-align: center;
    float: none;
    display: block;
    font: 700 14px "微软雅黑","黑体","微软雅黑","宋体",verdana,verdana;
    color: #787878;
    }
    span{
        overflow: hidden;
        display: block;
        margin: 0 auto;
        padding-top: 15px;
        width: 400px;
        a{
            float: left;
            margin-right: 12px;
            img:hover{
                transition: 0.5s;
                opacity:0.6;
            }
        }
    }
}
.new_mbshop_topandconsult{
    width: 60px;
    height: auto;
    display: block;
    position: fixed;
    right: 0;
    bottom: 30px;
    .new_mbshop_btn_topred{
        display: none;
        width: 55px;
        height: 90px;
        float: left;
        margin-bottom: 10px;
        background: url(../img/indeximg/img90.png) 0 -1060px no-repeat;
    }
    .mbshop_new_btn_onlineConsultred{
        width: 55px;
        height: 55px;
        float: left;
        display: block;
        cursor: pointer;
        background: url(../img/indeximg/img1.jpg) no-repeat;
    }
}